@model FRIO.MAR.APPLICATION.CORE.Models.ProductoModel

@{
    ViewBag.Title = "Productos";
    ViewBag.pTitle = "Productos";
    ViewBag.pageTitle = "Configuración";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        @{await Html.RenderPartialAsync("_camposObligatorios");}
        <form asp-action="Registrar" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />

            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TipoProducto" class="control-label">Tipo de Producto <span class="text-danger">*</span></label>
                                <select asp-for="TipoProducto" class=" form-control" >
                                    <option value="@FRIO.MAR.APPLICATION.CORE.Constants.TipoProducto.Bien">Bien</option>
                                    <option value="@FRIO.MAR.APPLICATION.CORE.Constants.TipoProducto.Servicio">Servicio</option>
                                </select>
                                <span asp-validation-for="TipoProducto" class="text-danger"></span>
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Codigo" class="control-label">Código <span class="text-danger">*</span></label>
                                <input asp-for="Codigo" class="form-control"  />
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Descripcion" class="control-label">Descripción <span class="text-danger">*</span></label>
                                <input asp-for="Descripcion" class="form-control"  />
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                     <br />
                     <div class="row">
                         @*<div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="UnidadMedida" class="control-label">Unidad de Medida <span class="text-danger">*</span></label>
                                <select asp-for="UnidadMedida" class=" form-control select2" asp-items="ViewBag.unidadMeida" >
                                    <option value="" selected disabled>--Seleccionar--</option>
                                </select>
                                <span asp-validation-for="UnidadMedida" class="text-danger"></span>
                            </div>
                        </div>*@
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IVA" class="control-label">IVA <span class="text-danger">*</span></label>
                                <select asp-for="IVA" class=" form-control" >
                                    <option value="" selected disabled>--Seleccionar--</option>
                                    @foreach(var iva in ViewBag.IVA as List<FRIO.MAR.APPLICATION.CORE.Entities.Impuesto>){
                                        <option value="@iva.TipoImpuesto.Codigo|@iva.Porcentaje">@iva.Nombre</option>
                                    }
                                </select>
                                <span asp-validation-for="IVA" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PrecioUnitarioStr" class="control-label">Precio Unitario <span class="text-danger">*</span></label>
                                <input asp-for="PrecioUnitarioStr" class="form-control decimal text-end"  />
                                <span asp-validation-for="PrecioUnitarioStr" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Imagen" class="control-label">Imagen <span class="text-danger">*</span></label>
                                <input asp-for="Imagen" class="form-control decimal" onchange="loadFile(event)" accept="image/*" />
                                <span asp-validation-for="Imagen" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <br />
                </div>
                <div class="col-md-2">
                    <div class="row text-center">
                        <div class="col-12">
                            <div class="">
                                <img id="ImagenBase64" src="data:image/png;base64, @Model.ImagenBase64" class="img-fluid img-thumbnail" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (ViewBag.EsNuevo)
            {
                <hr />
                 <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="RegistrarInventario" class="control-label"><input asp-for="RegistrarInventario" class="" /> ¿Registrar Inventario?</label>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row" id="div-inventario">
                    <div class="col-md-3">
                        <label class="label">Tipo de Inventario <span style="color: red">*</span></label>
                        <select asp-for="TipoInventario" id="tipoInventario" class="form-control" style="width:100%">
                            <option value="">-- SELECCIONAR --</option>
                            <option value="@FRIO.MAR.APPLICATION.CORE.Constants.TipoInventario.proveedor">Proveedor</option>
                            <option value="@FRIO.MAR.APPLICATION.CORE.Constants.TipoInventario.venta">Venta</option>
                        </select>
                        <span asp-validation-for="TipoInventario" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="label">Sucursal <span style="color: red">*</span></label>
                        <select asp-for="Sucursal" id="sucursal" class="select2 form-control" style="width:100%" asp-items=ViewBag.sucursales>
                            <option value="">-- SELECCIONAR --</option>
                        </select>
                         <span asp-validation-for="Sucursal" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="label">Bodegas <span style="color: red">*</span></label>
                        <select asp-for="Bodega" id="bodegas" class="select2 form-control" style="width:100%" asp-items=ViewBag.bodegas>
                            <option value="">-- SELECCIONAR --</option>
                        </select>
                        <span asp-validation-for="Bodega" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="label">Cantidad <span style="color: red">*</span></label>
                        <input type="text" id="cantidad" asp-for="CantidadStr" class="form-control decimal"/>
                        <span asp-validation-for="CantidadStr" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        @*<input readonly type="hidden" id="numeroDocumento" asp-for="numeroDocumento" name="numeroDocumento" class="form-control" />
                        <input readonly type="hidden" id="cufe" asp-for="cufe" name="cufe" class="form-control" />
                        <input readonly type="hidden" id="inventario" asp-for="inventario" name="inventario" class="form-control" value="false" />
                        <input readonly type="hidden" id="precio" asp-for="precio" name="precio" class="form-control" />
                        <input readonly type="hidden" id="proveedor" asp-for="proveedor" name="proveedor" class="form-control" />
                        <input readonly type="hidden" id="item" asp-for="item" name="item" class="form-control" />*@
                    </div>
                </div>
            }
            
            <br />
            <div class="form-group">
                @if (ViewBag.EsNuevo)
                {
                    <button class="btn btn-success"  type="submit">Agregar</button>
                }
                else
                {
                    <button class="btn btn-success"  type="submit">Editar</button>
                }
                <a asp-action="Index" class="btn btn-secondary">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script src="~/lib/plentz-jquery-maskmoney-cdbeeac/dist/jquery.maskMoney.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".select2").select2();
            $(".decimal").maskMoney();

            InicarCamposInventario();

            $("#RegistrarInventario").click(function(){
                InicarCamposInventario();
            });

            $("#sucursal").change(function () {
                var sucursal = $(this).val();
                $("#stock").val("0");
                IniciarLoading();
                $.post("@Url.Action("ActualizarComboProductosBodega", "Inventario")", { Sucursal: sucursal }, function (response) {
                    DetenerLoading();
                    if (isEmpty(response)) {
                        MensajeSesionFinalizada();
                        setTimeout(function () {
                            window.location.href = "@Url.Action("index", "Auth")";
                        }, 3000);
                    } else {
                        if (response.status === "success") {
                            //addOptionsProductos("productosOrigen", response.productos);
                            addOptionsBodegas("bodegas", response.bodegas);
                        }
                    }
                });
            });

        });

        var loadFile = function (event) {
            var output = document.getElementById('ImagenBase64');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };

        function InicarCamposInventario(){
            if(!$('#RegistrarInventario').is(':checked') ) {
                $("#tipoInventario").prop('disabled', true);
                $("#sucursal").prop('disabled', true);
                $("#bodegas").prop('disabled', true);
                $("#cantidad").prop('disabled', true);
            }else{
                $("#tipoInventario").prop('disabled', false);
                $("#sucursal").prop('disabled', false);
                $("#bodegas").prop('disabled', false);
                $("#cantidad").prop('disabled', false);
            }
        }

        //function addOptionsBodegas(domElement, result) {
        //    var select = document.getElementById(domElement);
        //    LimpiarSelect(domElement);
        //    result.forEach(bodega => {
        //        var option = document.createElement("option");
        //        option.value = bodega.bodegaId;
        //        option.text = bodega.codigo + " - " + bodega.nombre;
        //        select.add(option);
        //    });
        //}

        //function LimpiarSelect(domElement) {
        //    $('#' + domElement).empty();
        //    var select = document.getElementById(domElement);
        //    var option = document.createElement("option");
        //    option.text = "-- SELECCIONAR --";
        //    option.value = "";
        //    select.add(option);
        //}

    </script>
    @Html.Raw(TempData["msg"])
}
