
<!-- Modal -->
<div class="modal fade" id="modal-agregar-producto" aria-labelledby="agregarProductoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="agregarProductoModalLabel">Agregar Producto</h6>
      </div>
      <div class="modal-body">
        <input id="producto-unidad-medida" type="hidden" />
        <input id="producto-codigo" type="hidden" />
        <input id="producto-descripcion" type="hidden" />

        <div class="row">
            <div class="col-md-12">
                <label>Producto</label>
                <select id="producto" class="form-control select2" style="width: 100%">
                    <option disabled selected>--Seleccionar--</option>
                    @foreach(FRIO.MAR.APPLICATION.CORE.Entities.Producto item in ViewBag.Producto)
                    {
                        <option value='@item.ProductoId' data-descripcion='@item.Descripcion' data-codigo='@item.Codigo' data-precio-unitario='@FRIO.MAR.APPLICATION.CORE.Utilities.Utilidades.DoubleToString_FrontCO(item.PrecioUnitario, 2)' data-unidad-medida='@item.UnidadMedida' data-iva='@FRIO.MAR.APPLICATION.CORE.Utilities.Utilidades.DoubleToString_FrontCO(item.IvaPorcentaje, 2)' >@item.Codigo - @item.Descripcion</option>
                    }
                </select>
                    
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>IVA</label>
                <input id="producto-iva" class="form-control" readonly />
            </div>
            <div class="col-md-4">
                <label>Precio Unitario</label>
                <input id="producto-precio-unitario" class="form-control decimal" />
            </div>
            <div class="col-md-4">
                <label>Cantidad</label>
                <input id="producto-cantidad" class="form-control decimal" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12 d-grid">
                <button  type="button"  id="btn-agrega-producto" class='btn btn-success btn-block'>
                    <i class='fa fa-plus'></i> Agregar Producto
                </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>